@CHARSET "ISO-8859-1";
li
{
	list-style: none;
	float: left;
}
li input 
{
	background:navy;
	color: white;
	height: 50px;	
	border-color:white;
	cursor: pointer;	
}
.div1
{
	height:60px;
	width:768px;
	background-color: rgb(4,132,172);	
}
.mm{
	background:rgb(4,132,172);
	color:white;
	width:768px;
	height: 30px;
	float: left;
	font-weight:bold;
	font-size: 16px;	
}
.link
{
	text-decoration: none;
	color: white;
}

.div11
	{
		width: 140px;
		height: 30px;
		color: black;
	}