@CHARSET "ISO-8859-1";

li
{
	list-style: none;
	float: left;
}
li input 
{
	background:navy;
	color: white;
	height:30px;	
	border-color:white;
	cursor: pointer;	
}
.div
{
	height:90px;
	width:768px;
	color:white;
	background-color: rgb(4,132,172);
	font-size: 24px;	
	font-family:Baskerville Old Face;	
}
.mm{
	background:rgb(4,132,172);
	color:white;
	width:768px;
	height: 30px;
	float: left;
	font-weight:bold;
	font-size: 16px;	
}
.txtfont
{
float: right;
font-size: 18px;
}